* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, html {

    scroll-behavior: smooth !important;
    scroll-margin: 70px;
}

#NavigationBar a {
    text-decoration: none;
    color: black;

}

#NavigationBar a:visited {
    color: black;
}
#NavigationBar a:hover {
    color: #0da89e;
    transition: 0.3s ease;

}



#SectionHome {
    height: auto    ;
    background-color: orange;


}

.Navigation {
    height: auto;
    background-color: black;
    width: auto;
    overflow: clip;
}

#LucaHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

#divLogo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#Logo {
    width: 100%;
    height: auto;
}

#NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

#LeftSide {
    display: flex;
    align-items: center;
}

#RightSide {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}
#RightSide header{
    padding-right: 10px;
    font-family: "Arial Rounded MT Bold", sans-serif;

}
#RightSide a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Logo2 {
    height: auto;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

#ulNavigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: baseline;
    font-size: 20px;

}
#more-menu-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: "Arial Rounded MT Bold", sans-serif;
    text-align: left;
    font-size: 20px;
}
#menu-list{
    list-style: none;
    display: none;
    padding: 25px 10px 10px 10px;

}
#more-menu-list:hover #menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}
#more-menu {
    cursor: pointer;

}
#ulNavigation li {
    margin-right: 15px;
}
#ulNavigation a{
    scroll-behavior: smooth;

}


@media screen and (max-width: 330px) {
    #ulNavigation li:not(:nth-child(0)) {display: none;}
    #menu-list li {display: flex !important;}


    .NavList li.icon {
        float: right;
        display: block;
    }

}
@media screen and (max-width: 420px) {
    #ulNavigation li:not(:nth-child(1)) {display: none;}
    #menu-list li:nth-child(2) {display: flex !important;}


    .NavList li.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 530px) {
    #ulNavigation li:not(:nth-child(1),:nth-child(2)) {display: none !important;}
    #menu-list li:nth-child(1),
    #menu-list li:nth-child(2) {
        display: none;
    }    .NavList li.icon {
        float: right;
        display: block;
    }
}


@media screen and (min-width: 531px){
    #more-menu{display: none}

}

.divider {

    height: 45px;
    border-right: 1px solid black;
    margin-left: 10px;
    margin-right: 20px;
}

.fa-phone{
        margin-right: 20px;
}
#Introduction{
    display: flex;
    height: 800px;
    background-color: black;
    color: white;
    font-family: "Arial Rounded MT Bold", sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url("../Assets/CodeIMG.jpg ");
    background-size: cover;
    overflow: hidden;


}

#IntroText{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

#NameHeaderTxt{
    padding-top: 10vw;
    padding-bottom: 20px;
    font-size: clamp(30px,8vw, 60px);
    text-align: center;

    color: white;
    background-color: black;
    width: 80%;
    height: 80%;

}
#InfoHeaderTxt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    padding-right: 20vw;
    padding-left: 20vw;
    font-size: clamp(40px,10vw, 80px);
    color: white;
    background-color: black;
    width: 80%;
    height: 80%;
    mix-blend-mode: multiply;



}

#InfoText{
    text-align: center;
    padding-bottom: 10vw;
    font-size: clamp(10px,3vw, 20px);
    color: white;
    background-color: black;
    width: 80%;
    height: 80%;
    padding-left: 15px;
    padding-right: 15px;

}

#sectionCV{
    display: flex;
    height: auto;
    background: black;
    flex-direction: column;

}
#image-header{
    display: flex;
    flex-direction: row;
}
#image-header header{

    color: white;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 50px;
    margin: 50px 50px 10px 50px;

}
#image-header h2{
    color: white;
    font-family: "Arial Rounded MT", sans-serif;
    font-size: 30px;
    margin: 10px 50px 10px 50px;
}
#image-header h4{
    color: white;
    font-family: "Arial Rounded MT", sans-serif;
    margin: 50px 50px 10px 50px;
}
#selfie{
    margin-top: 50px;
    margin-left: 50px;

    width: 300px;
    height: fit-content;
}

#cvsets{
    display: flex;
    color: white;
    font-family: "Arial Rounded MT", sans-serif;
    margin: 20px;
    flex-direction: column;
}
.cvdiv{
    display: flex;
    flex-direction: column;

    margin: 10px 10px 10px 10px;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    padding: 10px;
}
.cvdiv header{
    font-size: 40px;
}
#education{

}
#education h4{
    margin: 16px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#education h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;

}
#languages{
    justify-self: flex-end;

}
#languages h4{
    margin: 10px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#languages h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;
}
#skills{

}
#skills h4{
    margin: 10px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#skills h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;
}
#experience{
 justify-self: flex-end;

}
#experience h4{
    margin: 10px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#experience h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;
}
.box{
    display: flex;
    justify-content: space-between;
}


#sectionProjects{
    display: flex;
    height: auto;
    background: orange;
    flex-direction: column;
    color: black;
    font-family: "Arial Rounded MT", sans-serif;
    font-size: 50px;

}
#projHeader{
    justify-content: flex-start;
    align-items: center;
    margin: 50px 50px 50px 50px;

}
#projdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.projectbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 530px;
    margin: 50px 10px 50px 10px;
    background: black;
    padding: 20px;
    border-radius: 40px;
    overflow: clip;
}
.projectbox a{
    width: 100%;
    color: orange;
    text-decoration: none;
}
.projectbox a:hover{
    color: dimgray;
}
#cookieclicker{

}
#portfolio{
    display: none;
}
#sonysite{
    display: none;
}
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    padding: 16px;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}
.prev{

}
.next{

}
.prev:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0px 10px 10px 0px;
    color: orange;
}
.next:hover{
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px 0px 0px 10px;
    color: orange;
}
#dots{
    margin-top: -60px;
    padding: 2px 20px 15px 20px;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media screen and (max-width: 800px){
    #image-header{
        flex-direction: column;
        align-items: center;

    }
    #selfie{
        margin-left: 0;
    }
    .box{
        flex-direction: column ;
    }
}