* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, html {

    scroll-behavior: smooth !important;
    scroll-margin: 70px;
}



.Navigation {
    height: auto;
    background-color: black;
    width: auto;
    overflow: clip;
}
.linksize{
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center;
}
.divider {

    height: 45px;
    border-right: 1px solid black;
    margin-left: 10px;
    margin-right: 20px;
}

.fa-phone{
    margin-right: 20px;
}
#NavigationBar a {

    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out ;

}

#NavigationBar a:visited {
    color: black;
}
#ulNavigation a:hover {
    color: #a071c9;
    font-size: 23px;
    transition: 0.3s ease-in-out ;
}
#more-menu a:hover{
    color: #a071c9;
    font-size: 23px;
    transition: 0.3s ease-in-out ;
}
#RightSide a:hover{
    color: #a071c9;
    font-size: 17px;
    transition: 0.3s ease-in-out ;
}



#SectionHome {
    height: auto    ;
    background-color: #A27C92;


}


#LucaHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

#divLogo {
    width: 100px;
    height: auto;
    margin-right: -20px;
}
#Logo{
    height: auto;
    width: 60px;
}


#NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
    background-color: white;
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 999;
}

#LeftSide {
    display: flex;
    align-items: center;
    text-align: center;
}

#ulNavigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: center;
    font-size: 20px;
    width: 50%;

}
#ulNavigation li{
    display: flex;
    align-items: center;
    height: 100%;
}
#more-menu-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: "Arial Rounded MT Bold", sans-serif;
    text-align: left;
    font-size: 20px;
}
#menu-list{
    list-style: none;
    display: none;
    padding: 25px 5px 5px 5px;
    margin-top: 20px;
}
#menu-list li{
    margin: 5px;
}
#more-menu-list:hover #menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#more-menu-li{
    display: flex;
    flex-direction: row;
}

#more-menu {
    cursor: pointer;

}
#ulNavigation li {
    margin-right: 15px;
}
#ulNavigation a{
    scroll-behavior: smooth;

}
#Logo2:hover{
    width: 65px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}

#RightSide {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

}
#RightSide header{
    padding-right: 15px;
    margin-top: 2px;
    font-family: "Arial Rounded MT Bold", sans-serif;

}
#RightSide a{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    width: 70px;
    justify-content: flex-end;
}

#Logo2 {
    height: auto;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
    padding-bottom: 10px;
    padding-top: 15px;
}


@media screen and (max-width: 270px) {
    #ulNavigation li:not(:nth-child(0)) {display: none;}
    #menu-list li {display: flex !important;}


    .NavList li.icon {
        float: right;
        display: block;
    }


}
@media screen and (max-width: 360px) {
    #ulNavigation li:not(:nth-child(1)) {display: none;}
    #menu-list li:nth-child(2) {display: flex !important;}


    .NavList li.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #ulNavigation li:not(:nth-child(1),:nth-child(2)) {display: none !important;}
    #menu-list li:nth-child(1),
    #menu-list li:nth-child(2) {
        display: none;
    }    .NavList li.icon {
        float: right;
        display: block;
    }
}


@media screen and (min-width: 501px){
    #more-menu{display: none}

}


#Introduction{
    display: flex;
    height: 800px;
    background-color: black;
    color: #dbdbdb;
    font-family: "Arial Rounded MT Bold", sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url("../Assets/CodeIMG.jpg ");
    background-size: cover;
    overflow: hidden;


}

#IntroText{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

#NameHeaderTxt{
    padding-top: 10vw;
    padding-bottom: 20px;
    font-size: clamp(30px,8vw, 60px);
    text-align: center;

    color: #dbdbdb;
    background-color: black;
    width: 80%;
    height: 80%;

}
#InfoHeaderTxt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    padding-right: 20vw;
    padding-left: 20vw;
    font-size: clamp(40px,10vw, 80px);
    color: #dbdbdb;
    background-color: black;
    width: 80%;
    height: 80%;
    mix-blend-mode: multiply;



}

#InfoText{
    text-align: center;
    padding-bottom: 10vw;
    font-size: clamp(10px,3vw, 20px);
    color: #dbdbdb;
    background-color: black;
    width: 80%;
    height: 80%;
    padding-left: 15px;
    padding-right: 15px;

}

#sectionCV{
    display: flex;
    height: auto;
    background: black;
    flex-direction: column;

}
#image-header{
    display: flex;
    flex-direction: row;
}
#image-header header{

    color: #dbdbdb;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 50px;
    margin: 10vw 50px 10px 50px;

}
#image-header h2{
    color: #dbdbdb;
    font-family: "Arial Rounded MT", sans-serif;
    font-size: 30px;
    margin: 10px 10vw 10px 50px;
}
#image-header h4{
    color: #dbdbdb;
    font-family: "Arial Rounded MT", sans-serif;
    margin: 50px 10vw 10px 50px;
}
#selfie{
    margin: 10vw 10vw 50px 10vw;

    width: 300px;
    height: fit-content;
    border-radius: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
#selfie:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 20px 3px white;
}
#selfie:active {
    box-shadow: 0 0 0 3px white;
}
#cvsets{
    display: flex;
    color: #dbdbdb;
    font-family: "Arial Rounded MT", sans-serif;
    margin: 50px 10vw 100px 10vw;
    flex-direction: column;

}
.cvdiv{
    display: flex;
    flex-direction: column;

    margin: 10px 10px 10px 10px;
    width: 100%;
    min-height: 300px;
    border-radius: 1.5vw;
    padding: 10px;

    background: black  ;
    border: solid 2px #9C7CA5;
    transition:  0.2s ease, box-shadow 0.2s ease;

}

.cvdiv:hover{
    box-shadow: 0 0 20px 3px #3a3042 ;
    transition:  0.2s ease, box-shadow 0.2s ease;



}

.cvdiv header{
    font-size: 40px;
    color: #dbdbdb;
}
.cvdiv a{
    color: white;
}
.cvdiv a:hover{
    color: #c4a4e0;
}
.cvdiv a:active{
    color: #9C7CA5;
}
#education{

}
#education h4{
    margin: 16px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#education h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;

}
#languages{
    justify-self: flex-end;

}
#languages h4{
    margin: 10px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#languages h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;
}
#skills{

}
#skills h4{
    margin: 10px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#skills h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;
}
#experience{
 justify-self: flex-end;

}
#experience h4{
    margin: 10px 4px 7px 20px;
    font-family: Arial, sans-serif;
}
#experience h3{
    margin: 18px 5px 1px 7px;
    font-family: Arial, sans-serif;
}
.box{
    display: flex;
    justify-content: space-evenly;
}
#logboek-header{
    margin: 20px;
}
#bottom-box-cv{

}
.comp-div{
    margin: 25px;
    text-align: left;
}
.comp-div h4{
    margin-top: 10px;
    font-family: Arial, sans-serif;
}
#comp-div-small{
    width: 265.8px;
}
.comp-div-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
#reflectionHeader{
    margin: 15px;
}
#reflectionText1{
    margin: 15px;
}
#reflectionText2{
    margin: 15px;
}
#sectionProjects{
    display: flex;
    height: auto;
    background: black     ;
    flex-direction: column;
    color: #dbdbdb;
    font-family: "Arial Rounded MT", sans-serif;
    font-size: 50px;
    align-items: center;

}
#projHeader{
    justify-content: flex-start;
    align-items: flex-start;
    margin: 35px 70px 0 70px;
    font-size: clamp(41px, 5vw, 55px);
    font-family: Arial, sans-serif;
    width: 80%;


}
#projdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}
.projectbox{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;

    margin: 38px 10px 10px 10px;
    background: black;
    padding: 20px;
    border-radius: 40px;
    overflow: clip;
    font-size: clamp(40px, 7vw, 55px);
    transition:  0.3s ease, box-shadow 0.3s ease;
    border: solid 6px #9C7CA5;
    box-shadow: 0 0 20px 3px #3a3042 ;
}
.projectbox:hover{
    box-shadow: 0 0 20px 5px #3a3042 ;

}
.projectbox a{
    color: #c4a4e0;
    text-decoration: none;
    transition:  0.3s ease, box-shadow 0.3s ease;

}
.projectbox a:hover{
    color: #ADB2D3;
    transition:  0.3s ease, box-shadow 0.3s ease;

}

.projdivheader{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 10px 0 10px;
    width: 50%;


}
.projdivheader header{
    margin-left: 10px;
}
.projdivheader h4{
    font-size: clamp(14px, 4vw, 25px);
    color: #dbdbdb;
    margin: 10px;
}
.projinfo{
    display: flex;
    flex-direction: row;
}
table{
    color: #dbdbdb;
    font-size: 30px;
    border-radius: 5px;
    border: 5px #9C7CA5;
    margin: 15px 10px 0 10px;
    font-family: Arial, sans-serif;

}
th, td{
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}
td{
   font-size: 22px;
}
.tablediv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.projectbox img{
    height: auto;
    width: clamp(500px, 67vw, 1200px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;

}
.projectbox video{
    height: auto;
    width: clamp(500px, 67vw, 1200px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 0 0 0;

}

.projectbox img:hover{
    transform: scale(1.01);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.projectbox video:hover{
    transform: scale(1.01);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.projbox{
    display: none;
}
#portfolio{
    display: none;
}
#sonysite{
    display: none;
}
.prev, .next {
    cursor: pointer;
    width: auto;
    color: #c4a4e0;
    font-weight: bold;
    padding: 16px;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev{
    padding-left: 20px;
    padding-right: 20px;
}
.next{
    padding-left: 20px;
    padding-right: 20px;
}
.prev:hover {
    background-color: rgba(199, 157, 237,0.8);
    border-radius: 10px;
    color: black;
}
.next:hover{
    background-color: rgba(199, 157, 237,0.8);
    border-radius: 10px;
    color: black;
}
#dots{
    padding: 2px 20px 22px 20px;
    text-align: center;
}
#interactive{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #c4a4e0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot.active, .dot:hover {
    background-color: #dbdbdb;
    transform: scale(1.12);

}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.info-box-div{
    display: flex;
    flex-direction: column;

    margin: 100px 10px 100px 10px;
    width: 80%;
    min-height: 300px;
    border-radius: 20px;
    padding: 10px;

    background: black  ;
    border: solid 2px #9C7CA5;
    transition:  0.2s ease, box-shadow 0.2s ease;
}
.info-box-div:hover{
    box-shadow: 0 0 20px 3px #3a3042 ;
    transition:  0.2s ease, box-shadow 0.2s ease;
}
.info-box-div h4{
    font-size: 25px;
    margin: 15px;
}
.info-box-div header{
    margin: 15px;
}

#sectionMotivation{
    display: flex;
    height: auto;
    background: #c4a4e0;
    flex-direction: column;
    color: #dbdbdb;
    font-family: "Arial", sans-serif;
    font-size: 50px;
    align-items: center;
}
#motivationHeader{
    font-size: 40px;
    margin: 60px 20px 20px 20px;
    width: 80%;
    color: black;
    padding: 40px 0 20px 0;
}
#motivationText{
    font-size: 20px;
    margin: 20px;
    width: 80%;
    padding: 20px 20px 50px 20px;
    background-color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
#motivationText:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    box-shadow: 0 0 20px 3px #3a3042 ;
}
#motivationText h4{
    margin: 20px 0 20px 0;
    color: #c4a4e0;
}

#sectionIdeas{
    display: flex;
    height: auto;
    background: #c4a4e0;
    flex-direction: column;
    color: #dbdbdb;
    font-family: "Arial", sans-serif;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
#ideasheader{
    margin: 20px;
    width: 80%;
    font-size: 40px;
    padding: 40px 0 20px 0;
    color: black;
}
#ideasheader h4{
    font-size: 20px;
}
#ideatext{
    margin: 20px;
    width: 80%;
    background-color: black;
    padding: 20px 20px 50px 20px;
    margin-bottom: 200px;

}
#ideatext:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    box-shadow: 0 0 20px 3px #3a3042 ;
}
.IdeaDiv{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.IdeaDiv h4{
    font-size: 20px;
    margin: 20px 0 20px 0;
    color: #c4a4e0;

}
.IdeaDiv p{
    font-size: 20px;
}
.ideasimagediv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ideasimage{
    margin: 20px;
    width: 70%;
    height: auto;

}
#sectionForm{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dbdbdb;
    font-family: "Arial MT", sans-serif;
    font-size: 30px;
    background-color: black;
}
#sectionForm form{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 50px;
    justify-content: space-evenly;
    border: 2px solid #9C7CA5;
    border-radius: 3vw;
    margin: 100px;


}
#sectionForm form input{
    border-radius: 0.5vw;
    height: 40px;
    background-color: black;
    width: 300px;
}
#formInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#formdiv input{
    margin-top: -10px;
}
#formdiv2 input{
    margin-top: -10px;
}
#messageBox{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: flex-start;
    margin-top: 30px;

}
#subject{

}
#messageBox label[for="subject"]{
    margin-top: 20px;
    margin-bottom: -20px;
}
#messageBox label[for="message"]{
    margin-top: 20px;
}
#message {
    resize: vertical;
    height: 150px;
    width: 100%;
    margin-top: 20px;
    border-radius: 0.5vw;
    background-color: black;
}
#submitboxdiv{
    width: 100%;
    justify-content: center;
}
#submitbox{
    margin-top: 20px;
    background-color: #9C7CA5 !important;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
    width: 100px !important;

}
#submitbox:hover{
    background-color: #ADB2D3 !important;
    transition: ease 0.3s;
}
#formdiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    justify-content: flex-start;
}
#formdiv2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    justify-content: flex-start;
    text-align: center;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    background-color: white;
    height: auto;
    font-family: Arial, sans-serif;
}
#copyright{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
#additionalinfo{
    display: flex;
    flex-direction: row;
}
#copyright h4{
    margin: 5px;
}
#additionalinfo h4{
    margin: 5px;
}
@media screen and (max-width: 1050px)
{
    .projectbox{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;

    }
    .projectbox img{
        width: clamp(220px, 71vw, 800px);

    }
    .projectbox video{
        width: clamp(220px, 71vw, 800px);

    }
    a{
        padding: 10px;
        margin: -10px;
    }
    #formInfo{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #formdiv{
        width: 100%;
    }
    #formdiv2{
        width: 100%;
        margin-top: 20px;
    }

}
@media screen and (max-width: 800px){
    #image-header{
        flex-direction: column;
        align-items: center;

    }
    #header-text{
        margin: 0 12vw 60px 12vw;
        justify-content: flex-start;
    }
    #header-text header{
        margin: 0 0 10px 0;
    }
    #header-text h2{
        margin: 10px 0 10px 0;
    }
    #header-text h4{
        margin: 50px 0 10px 0;
    }

    .box{
        flex-direction: column ;
        align-items: center;
        justify-content: center;
    }
    #copyright{
        flex-direction: column;
        padding: 2px;

    }
    #additionalinfo {
        flex-direction: column;
        padding: 2px;

    }
    #copyright h4{
        margin: 2px;
    }
    #additionalinfo h4{
        margin: 2px;
    }
    .tablediv{
        display: none   ;
    }
    .projdivheader{
        width: 100%;

    }
    .projectbox video{
        margin: 10px;
    }
    .videodiv{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .projectbox{
        justify-content: flex-start;
        min-height: 400px;
    }
    .projbox{
        display: flex;
        color: #dbdbdb;
        width: 100%;
        flex-direction: column;
        margin-top: 15px;
    }
    .projboxsubtext{
        display: flex;
        flex-direction: row;
    }
    .projboxsubtextleft{
        font-size: 15px;
        width: 50%;
        text-align: center;
    }
    .projboxsubtextright{
        font-size: 15px;
        width: 50%;
        text-align: center;


    }
    .projboxsubtextleft h5{
        margin: 5px;
    }
    .projboxsubtextright h5{
        margin: 5px;

    }


}

@media screen and   (max-width: 550px)
{
    .projectbox img{
        width: clamp(200px, 66vw, 800px);

    }
    .projectbox video{
        width: clamp(200px, 66vw, 800px);

    }
    #sectionForm form{
        padding: 20px;
    }
    #sectionForm form input{
        border-radius: 0.5vw;
        height: 40px;
        background-color: black;
        width: 100%;
    }
}
@media screen and (max-width: 400px)
{
    #selfie{
        width: clamp(180px, 75vw, 1000px);
    }
}
@media screen and   (max-width: 350px)
{
    .projectbox img{
        width: clamp(220px, 75vw, 800px);

    }
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
