* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, html {

    scroll-behavior: smooth !important;
}

#NavigationBar a {
    text-decoration: none;
    color: black;
}

#NavigationBar a:visited {
    color: black;
}
#NavigationBar a:hover {
    color: #0da89e;
    transition: 0.3s ease;

}



#SectionHome {
    height: auto    ;
    background-color: orange;


}

.Navigation {
    height: auto;
    background-color: black;
}

#LucaHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

#divLogo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#Logo {
    width: 100%;
    height: auto;
}

#NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
    background-color: white;
}

#LeftSide {
    display: flex;
    align-items: center;
}

#RightSide {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

#Logo2 {
    height: auto;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

#ulNavigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: baseline;
    font-size: 20px;

}
#more-menu-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;

    justify-content: space-evenly;
    font-family: "Arial Rounded MT Bold", sans-serif;
    text-align: left;
    font-size: 20px;
}
#menu-list{
    list-style: none;
    display: none;
    padding: 10px;

}
#more-menu-list:hover #menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}
#more-menu {
    cursor: pointer;

}
#ulNavigation li {
    margin-right: 15px;
}
#ulNavigation a{
    scroll-behavior: smooth;

}


@media screen and (max-width: 280px) {
    #ulNavigation li:not(:nth-child(0)) {display: none;}
    #menu-list li {display: flex !important;}


    .NavList li.icon {
        float: right;
        display: block;
    }

}
@media screen and (max-width: 380px) {
    #ulNavigation li:not(:nth-child(1)) {display: none;}
    #menu-list li:nth-child(2) {display: flex !important;}


    .NavList li.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #ulNavigation li:not(:nth-child(1),:nth-child(2)) {display: none !important;}
    #menu-list li:nth-child(1),
    #menu-list li:nth-child(2) {
        display: none;
    }    .NavList li.icon {
        float: right;
        display: block;
    }
}


@media screen and (min-width: 501px){
    #more-menu{display: none}

}

.divider {

    height: 45px;
    border-right: 1px solid black;
    margin-left: 10px;
    margin-right: 20px;
}

.fa-phone{
        margin-right: 20px;
}
#Introduction{
    display: flex;
    height: 800px;
    background-color: black;
    color: white;
    font-family: "Arial Rounded MT Bold", sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url("../Assets/CodeIMG.jpg ");
    background-size: cover;
    overflow: hidden;
    ;


}

#IntroText{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

#NameHeaderTxt{
    padding-top: 10vw;
    padding-bottom: 20px;
    font-size: clamp(30px,8vw, 60px);
    text-align: center;

    color: white;
    background-color: black;
    width: 80%;
    height: 80%;
}
#InfoHeaderTxt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    padding-right: 20vw;
    padding-left: 20vw;
    font-size: clamp(40px,10vw, 80px);
    color: white;
    background-color: black;
    width: 80%;
    height: 80%;
    mix-blend-mode: multiply;


}

#InfoText{
    text-align: center;
    padding-bottom: 10vw;
    font-size: clamp(10px,3vw, 20px);
    color: white;
    background-color: black;
    width: 80%;
    height: 80%;
    padding-left: 15px;
    padding-right: 15px;

}

#sectionCV{
    display: flex;
    height: auto;
    background: black;
    flex-direction: column;

}
#image-header{
    display: flex;
    flex-direction: row;
}
#image-header header{

    color: white;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 50px;
    margin: 50px 50px 10px 50px;

}
#image-header h2{
    color: white;
    font-family: "Arial Rounded MT", sans-serif;
    font-size: 30px;
    margin: 10px 50px 10px 50px;
}
#image-header h4{
    color: white;
    font-family: "Arial Rounded MT", sans-serif;
    margin: 50px 50px 10px 50px;
}
#selfie{
    margin-top: 50px;
    margin-left: 50px;

    width: 300px;
    height: fit-content;
}

#cvsets{
    display: flex;
    color: white;
    font-family: "Arial Rounded MT", sans-serif;
    margin: 20px;
    flex-direction: column;
}
.cvdiv{
    display: flex;
    margin: 20px;
    width: 100%;
    height: 300px;
}
.cvdiv header{
    font-size: 40px;
}
#education{


}
#languages{
    justify-self: flex-end;

}
#skills{

}
#experience{
 justify-self: flex-end;

}
.box{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px){
    #image-header{
        flex-direction: column;
        align-items: center;

    }
    #selfie{
        margin-left: 0;
    }
    .box{
        flex-direction: column ;
    }
}
#sectionProjects{
    display: flex;
    height: auto;
    background: black;
    flex-direction: column;
    color: white;
    font-family: "Arial Rounded MT", sans-serif;
}
.projectbox a{
    width: 100%;
}
